# Ignore the .DS_Store file, common on macOS
.DS_Store

# Ignore node_modules folder
node_modules/

# Ignore typical log files
*.log

# Ignore temporary or compiled files
*.tmp
*.cache

# Ignore build and output directories
/dist/
/build/

# Ignore environment files (Make sure to manage them securely)
.env
.env.local
.env.test
.env.production

# Ignore various IDE and editor settings
# IntelliJ IDEA
/.idea/
/*.iml

# VSCode settings
/.vscode/

# Sublime Text
*.sublime-project
*.sublime-workspace

# JetBrains Rider
/.idea/

# Ignore macOS Finder icon files
Icon?

# Ignore any files with sensitive information
# (Put them into environment vars or secure config)
config/*.yaml 
config/*.json

# Ignore compiled Python files
*.pyc

# Ignore Python virtual environments
venv/
.env/

# Ignore package managers lockfiles
package-lock.json
yarn.lock
pnpm-lock.yaml

# Ignore Composer vendor directory
/vendor/

# Ignore Ruby Gems
.bundle/
/vendor/bundle/

web/handlers/*.zip

# Ignore local terraform files
.terraform*
terraform.tfstate*
